[Unit]
Description=Timer for merge-flow-deploy-gate-closer

[Timer]
Unit=merge-flow-deploy-gate-closer.service
OnUnitActiveSec=300s

[Install]
WantedBy=timers.target
