[Unit]
Description=Timer for merge-flow-guard-deadman

[Timer]
Unit=merge-flow-guard-deadman.service
OnUnitActiveSec=300s

[Install]
WantedBy=timers.target
